:root {
  --primary: #333333;
  --secondary: #e67e00;
  --text: #fff;
}

.body {
  background-color: #f2f2f2;
}

/* Top Navigation */
.topNav {
  background-color: var(--primary);
}
.topNav a {
  color: var(--text);
}
.topNav a:hover {
  color: var(--secondary);
}
.topNav .current {
  color: var(--secondary);
}
.topNav button:focus {
  outline: none;
  box-shadow: none;
}
.topNav span {
  color: var(--secondary);
}

/* Footer */
.bFooter {
  background-color: var(--primary);
}

.bFooter i:hover {
  color: var(--text);
}
